<h2>Загрузить изображение</h2>

<form method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Выберите файл:</label>
        <input type="file" name="file" id="file" />
    </div>
    <div>
        <button type="submit">Загрузить</button>
    </div>
</form>

@if (ViewBag.Message != null)
{
    <p style="color:red;">@ViewBag.Message</p>
}
